
body {
    background-color: burlywood; 
    justify-items: center;
    height: 700px;
}


.container {                /* Contains the platform and the dashboard */   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 380px 200px 20px;
    width: 380px;
    height: 700px;
    border: 5px solid olivedrab ;
    background-image: url("../pictures/jungletheme.jpeg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center; 
    row-gap: 5px;
}
.platform {                 /* HOLDS the cell container */

    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid {                     /* Holds the cells */
    height: 350px;
    width: 350px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid: repeat(3, auto) / auto-flow;
    background-color: #ffbe469f;
    border-style: double;
    border-radius: 20px;
    border-width: 10px;
    border-color: #001a0ce7;

}
.cell {       
    width:70%;
    height:70%;
    border-radius: 50%;
    background-color: beige;
    border: 5px solid darkolivegreen;
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
}
.cell:hover {
    background-color: rgb(206, 206, 183);
    border: 5px solid rgb(129, 163, 71);
} 
.cell:active {

    transform-origin: 10%;
    animation: animateMonkey forwards 0.1s;
}
.cell::after {

    background-color: #002c14;
}

.dashboard {
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: rgba(218, 160, 0, 0.884);
    background-size: 150%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
#score-board {
    align-content: center;
    text-align: center;
    width: 90%;
    height: contain;
    margin: 0px;
    padding: 3px;
    font-family: "Caveat Brush", cursive;
    background-color: #be945b;
    background-size: 60%;
    border-radius: 30%;
}
#score {
    font-size: 3.5rem;
    font-weight: bolder;
    padding: 0px;
    margin: 5px;
    color:#FFBF46;
}
#status {
    margin: 0px;
    font-size: 20px;
    color: #122620;
    font-family: "Caveat Brush", cursive;
    font-weight: bolder;
    font-style: normal;
}
span {
    font-size: 150%;
}
#yellow {
    color: yellow;
}
#brown {
    color: brown;
}
.button-holder {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr ;
    align-items: center;
    justify-content: center;
    justify-items: center;
    row-gap: 10px;
}

Button {
    display: none;
    height: 25px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #1f4e11b9;
}

.inGameOptions {
    display: flex;
    flex-direction: row;
    margin-top:20px;
    margin-left: 20px;
    height: 50px;
    width: auto;
    column-gap: 60px;
}

.level-display {
    width: 100px;
    height: 25px;
    background-color: #01441fad;
    display: flex;
    flex-direction: row;
    border: 3px outset rgb(7, 27, 15);
    border-radius: 15px;
    color: white;
}

#current-level {
    width:10px;
    display: flex;
    font-size: medium;
    color: white;
}

#back {  /* back Button */ 
    display: flex;
    background-color: rgba(255, 166, 0, 0.753);
    color:rgb(77, 24, 24);
}
#back:hover {
    background-color:rgb(255, 166, 0);
}   

#back:active {                    /*  i need to learn what this does */
    background-color: rgb(255, 145, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);   
}

.button:hover {
    background-color: #3e8e41
}   

.button:active {                    /*  i need to learn what this does */
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);           
}
.misc {
    margin-top: 6%;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    background-color: #001a0cc2;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

#switch-BG {
    background-color: rgb(148, 148, 0);
}


@keyframes animateMonkey {

    from {
        transform: translateX(0%);
        transform: translateY(0%);
    }
    
    to {

        transform: translateX(5%);
        transform: translateY(5%);
    }
}


